<!DOCTYPE html>
<html lang="zh-CN">

<head>




    <link rel="stylesheet" href="/static_company/css/all.min.css">
    <!--<link rel="stylesheet" href="../static/static_company/css/all.min.css">-->
    <link rel="stylesheet" href="/static_company/css/dmaku.css">
    <!--<link rel="stylesheet" href="../static/static_company/css/dmaku.css">-->
    <script src="/assets/js/vue.js"></script>


    <meta charset="utf-8">
    <title>公司登录</title>

    <style>
        .get-code {
            float:right;
            
            }
        .code-btn {
            color:#002b;
            font-size:12px;
            border:1px solid #002b;
            border-radius:5px;
            padding:5px;
            box-sizing:border-box;
            cursor:pointer;
            height:50%;

        }
        .code-btn_1 {
            color: #999;
            font-size:12px;
            border:1px solid #999;
            border-radius:5px;
            padding:5px;
            box-sizing:border-box;
            height:50%;

        }
    </style>

    
</head>

<body>

    <div class="dowebok" id="dowebok">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1 style="letter-spacing:10px">注册</h1>
                <div class="social-container">
                   <!--  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a> -->
                    <a href="#" class="social"><i class="fa fa-user-plus" ></i></a>
                </div>
                <span>使用公司手机号注册</span>
                <input type="text"  placeholder="公司名称" v-model="name">
                <input type="text"  placeholder="手机号" id="tel_num" oninput="value=value.replace(/[^\d]/g,'')" v-model="phone">
                <div class="get-code"  style=" display: flex;justify-content: space-between;align-items:center">
                    <input type="email" style="width:70%;" placeholder="验证码">
                    
                    <span class="code-btn" @click="check_code" v-if="show" >获取验证码</span>
                    <span class="code-btn_1" v-else >{{code_time}}s重新获取</span>
                </div>
              
                
                <input type="password" placeholder="密码" v-model="password">

                <button class="button1" @click="register" >注册</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1 style="letter-spacing:10px">公司登录</h1>
                <div class="social-container">
                   <!--  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a> -->
                    <a href="#" class="social"><i class="fa fa-user"></i></a>
                </div>
                <span>使用公司手机号</span>
                <input type="email" placeholder="手机号">
                <input type="password" placeholder="密码">
                <a href="#">忘记密码？</a>
                <button class="button1" >登录</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>已有帐号？</h1>
                    <p>请使用您的帐号进行登录</p>
                    <button class="ghost button1" id="signIn">登录</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>没有帐号？</h1>
                    <p>立即注册加入我们，和我们一起开始旅程吧</p>
                    <button class="ghost button1" id="signUp">注册</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/static_company/js/dmaku.js"></script>
    <script  src="/static_company/js/yanz.js"></script>

    <script>

        var app=new Vue({
            el:"#dowebok",
            data:{
                name:"",//公司名称
                phone:"",//手机号
                password:"",

            },
            methods:
                {
                    register:function () {
                        var that=this
                        //axios.get()
                        axios.get("http://localhost:8280/company/register",{
                            params:{
                                name:that.name,
                                phone:that.phone,
                                password:that.password
                            }
                        }).then(
                            function (response) {
                                console.log("成功"+response.data)
                            },
                            function (err) {
                                console.log("失败"+err)
                            }
                        )

                        console.log("注册")
                    }

                }

        });
    </script>
    <script>
        var signUpButton = document.getElementById('signUp')
        var signInButton = document.getElementById('signIn')
        var container = document.getElementById('dowebok')

        signUpButton.addEventListener('click', function () {
            container.classList.add('right-panel-active')
            console.log("111")
        })

        signInButton.addEventListener('click', function () {
            container.classList.remove('right-panel-active')
            console.log("111")
        });
    </script>



</body>


</html>